body {
  background-color: black;
}

section {
  padding: 30px;
  width: 100vw;
}

h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
}

.imgs {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.imgs::-webkit-scrollbar {
  display: none;
}

.imgs img {
  width: calc((100vw - 100px) / 6);
  height: 148px;
  object-fit: contain;
}
